In [9]:
# ライブラリのインポート
import pandas as pd
from sklearn.cluster import KMeans

In [11]:
dat10 = pd.read_csv("2010_11.csv")
dat11 = pd.read_csv("2011_12.csv")
dat12 = pd.read_csv("2012_13.csv")
dat13 = pd.read_csv("2013_14.csv")
dat14 = pd.read_csv("2014_15.csv")

In [12]:
dat0 = dat10.drop('Country/Region',axis=1)
dat1 = dat11.drop('Country/Region',axis=1)
dat2 = dat12.drop('Country/Region',axis=1)
dat3 = dat13.drop('Country/Region',axis=1)
dat4 = dat14.drop('Country/Region',axis=1)

In [15]:
# KMeansメソッドの実行
clu = KMeans(n_clusters=5)

# 結果の出力
dat10["class"] = clu.fit_predict(dat0)
dat11["class"] = clu.fit_predict(dat1)
dat12["class"] = clu.fit_predict(dat2)
dat13["class"] = clu.fit_predict(dat3)
dat14["class"] = clu.fit_predict(dat4)


# 各グループの平均値
# print('各グループの平均値')
dat0_mean = dat10.groupby("class").mean()
dat1_mean = dat11.groupby("class").mean()
dat2_mean = dat12.groupby("class").mean()
dat3_mean = dat13.groupby("class").mean()
dat4_mean = dat14.groupby("class").mean()

In [16]:
dat0_mean.to_csv("cluster_mean_dat10.csv")
dat1_mean.to_csv("cluster_mean_dat11.csv")
dat2_mean.to_csv("cluster_mean_dat12.csv")
dat3_mean.to_csv("cluster_mean_dat13.csv")
dat4_mean.to_csv("cluster_mean_dat14.csv")

dat10.to_csv("dat10.csv")
dat11.to_csv("dat11.csv")
dat12.to_csv("dat12.csv")
dat13.to_csv("dat13.csv")
dat14.to_csv("dat14.csv")

In [2]:
# データの読み込み
after = pd.read_csv("2020_21.csv")
before = pd.read_csv("cluster_analysis_before.csv")

In [3]:
aft = after.drop('Country/Region',axis=1)
bef = before.drop('Country/Region',axis=1)

In [4]:
# KMeansメソッドの実行
clu = KMeans(n_clusters=5)

# 結果の出力
after["class"] = clu.fit_predict(aft)
before["class"] = clu.fit_predict(bef)


# 各グループの平均値
# print('各グループの平均値')
aft_mean = after.groupby("class").mean()
bef_mean = before.groupby("class").mean()

In [1]:
# after

In [2]:
# before

In [3]:
# after[after["class"]==0]

In [4]:
# before[before["class"]==0]

In [5]:
# after[after["class"]==1]

In [6]:
# after[after["class"]==2]

In [7]:
# after[after["class"]==3]

In [8]:
# after[after["class"]==4]

In [13]:
aft_mean

,Maize_Domestic Utilization,Maize_Opening Stocks,Maize_Production,Rice_Domestic Utilization,Rice_Opening Stocks,Rice_Production,Soybean_Domestic Utilization,Soybean_Opening Stocks,Soybean_Production,Wheat_Domestic Utilization,Wheat_Opening Stocks,Wheat_Production
class,,,,,,,,,,,,
0,12.561053,1.796316,11.974737,6.183684,1.267368,6.297368,4.625263,0.886316,3.336316,10.172632,2.378421,13.518947
1,306.540000,48.760000,358.450000,4.850000,0.910000,7.220000,61.060000,14.280000,114.750000,30.480000,27.980000,49.750000
2,54.950000,9.265000,49.950000,52.505000,17.835000,63.060000,15.385000,1.145000,7.620000,103.025000,18.160000,117.275000
3,284.300000,148.280000,260.670000,148.340000,104.200000,145.120000,114.960000,19.400000,19.600000,140.900000,126.640000,134.250000
4,68.000000,14.000000,102.520000,7.270000,0.350000,7.600000,49.710000,0.800000,138.150000,11.900000,1.190000,6.230000

In [14]:
aft_mean.to_csv("cluster_mean_after.csv")
bef_mean.to_csv("cluster_mean_before.csv")
after.to_csv("aft.csv")
before.to_csv("bef.csv")